<div class="text-center">

<%if current_user == @user %>
  <h1>Bienvenue <%= current_user.first_name%></h1>
<% else %>
  <h1>Bienvenue <%= @user.first_name%></h1>
<%end%>

  <% @user.bikes.each do |bike| %>
    <p><%= bike.name %></p>
    <p><%= bike.description %></p>
  <% end %>

  <% if current_user == @user %>
    <p>Ma page de profile</p>
    <p>Voici mes réservations</p>
    <% current_user.bookings.each do |booking| %>
      <%= booking.start_date %>
      <% end %>
    <p>Mes vélos</p>
      <% current_user.bikes.each do |bike| %>
    <p><%= bike.name %></p>
    <p><%= bike.description %></p>
  <% end %>

  <% else %>
    <p>La page profile d'un autre user</p>
    <%= @user.email %>
    <p>Voici les vélos</p>
      <% @user.bikes.each do |bike| %>
      <p><%= bike.name %></p>
      <p><%= bike.description %></p>
    <% end %>
  <% end %>
</div>
