<!-- TODO
Bienvenue

@bookings.each

@bikes.each

@rentals.each-->

<div class="text-center">
  <h1>Bienvenue <%=current_user.first_name%></h1>
  <!-- Don't forget to change the photo url to add the user photo-->
  <%= image_tag "#", class: "img-circle", id: "#"%>

  <div class="dashboard-cards">
    <h2>Voici la liste des réservations effectuées sur vos vélos </h2>
    <ul>
      <% @bookings.each do |booking| %>
        <li>
          <%= booking.current_user %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="dashboard-cards">
    <h2>Voici la liste de vos vélos</h2>
    <% @bikes.each do |bike| %>
      <%= bike %>
    <% end %>
  </div>

  <div class="dashboard-cards">
    <h2>Voici la liste des locations que vous avez effectué </h2>
    <ul>
      <% @rentals.each do |rental|%>
        <li><%= rental.id %></li>
        <li><%= rental.bike.name %></li>
        <li><%= rental.bike.description %></li>
        <li><%= rental.start_date %></li>
        <li><%= rental.end_date %></li>
      <% end %>
    </ul>
  </div>
</div>
